<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aojiaoo.study.mybatis.TestMapper">


    <sql id="Base_Column_List">
            a.id as id,a.name as name
    </sql>

    <sql id="Base_select_table">
        a_test a
    </sql>


</mapper>