.p10{
    padding:10px;
    box-sizing: border-box;
}
.p20{
    padding:10px;
    box-sizing: border-box;
}
.ptr10{
    padding:0 10px;
}
.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mb10{
    margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.bgf{
    background-color: #fff;
}
.bdr10{
    border-radius: 10px;
}
.tar{
    text-align: right;
}
.tac{
    text-align: center;
}
.tal{
    text-align: left;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
.clearfix:after {
	content:""; 
	display: block; 
	clear:both; 
}
.h60{
    display: inline-block;
    height:60px;
    line-height: 60px;
}
.baseColor{
	color:#ea6f5a;
}
.pointer{
    cursor: pointer;
}