<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- scan the package and the sub package -->

    <!-- DispatcherServlet上下文， 只管理@Controller类型的bean， 忽略其他型的bean, 如@Service -->
    <context:component-scan base-package="com.aojiaoo.modules.**.controller" use-default-filters='false'>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--扫描aop相关的包 日志处理 统一异常处理-->
    <!--<context:component-scan base-package="com.aojiaoo.core.handler"/>-->

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler/>

    <!-- 激活参数绑定-->
    <mvc:annotation-driven/>

    <!--<mvc:annotation-driven>-->
        <!--<mvc:return-value-handlers>-->
            <!--<bean class="com.aojiaoo.core.json.JsonReturnHandler"/>-->
        <!--</mvc:return-value-handlers>-->
    <!--</mvc:annotation-driven>-->

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="209715200"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>


    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html; charset=utf-8"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".ftl"/>
        <property name="prefix" value=""/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="requestContextAttribute" value="request"/>
        <property name="allowSessionOverride" value="true"/>
        <property name="order" value="0"/>
    </bean>

    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl"/>
        <property name="configLocation" value="classpath:freemarker.properties"/>
    </bean>



    <!--start shiro生命周期-->
    <!--配置LifecycleBeanPostProcessor 自动调用 spring ioc容器中的生命周期方法-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro注解 必须要配置LifecycleBeanPostProcessor后才有用 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <!--配置代理为 cglib 统一代理模式  防止代理混乱-->
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!--end shiro生命周期-->

    <!--统一异常处理-->
    <bean class="com.aojiaoo.core.handler.ExceptionHandler"/>

    <!--配置切面的Bean -->
    <bean id="logAop" class="com.aojiaoo.core.aop.LogAop"/>
    <!--<bean id="jsonFilterAop" class="com.aojiaoo.core.aop.LogAop"/>-->
    <!-- 配置AOP -->
    <aop:config proxy-target-class="true" expose-proxy="true">
        <!--(execution(* com.aojiaoo.modules.*.controller..*.*(..)))-->
        <!-- 配置切点表达式  -->
        <aop:pointcut id="logCut"
                      expression="execution(* com.aojiaoo.modules.*.controller..*.*(..))"/>
        <!--<aop:pointcut id="jsonFilter" expression="execution(* com.aojiaoo.modules.*.service..*.*(..)) and @annotation(com.aojiaoo.core.json.annotation.JSON)"/>-->
        <!-- 配置切面及配置 -->
        <aop:aspect ref="logAop">
            <!-- 前置通知 -->
            <aop:before method="beforMethod" pointcut-ref="logCut"/>
            <!-- 后置通知 -->
            <aop:after method="afterMethod" pointcut-ref="logCut"/>
            <!-- 返回通知 -->
            <aop:after-returning method="afterReturnMethod" pointcut-ref="logCut" returning="result"/>
            <!-- 异常通知 -->
            <aop:after-throwing method="afterThrowingMethod" pointcut-ref="logCut" throwing="ex"/>
        </aop:aspect>
    </aop:config>
</beans>
